@import 'css/content.css';
@import 'css/components.css';
@import 'css/layouts.css';
@import 'css/utilities.css';
@import 'css/media-queries.css';

.load-more-btn{
	margin: 2rem auto 0;
}

.load-more-btn svg{
	width: 1.4em;
	margin-right: 1rem;
}

.floating-btn{
	position: fixed; right: 2.4vw; bottom: 6rem;
	width: 6.6rem;
	height: 6.6rem;
	border-radius: 100%;
	z-index: 97;
	background-color: #4A7DFF;
}

.table-stats{
	width: 49%;
	margin-bottom: 2rem;
}

.collapsible-arrow > .svg-icon{
	margin-right: 0.1em;
	font-size: 2rem;
	transition: transform 0.3s;
}

.collapsible-arrow.expanded > .svg-icon{
	transform: rotate(-180deg);
}

.error-page h1{
	margin-bottom: 2rem;
}

.error-page h1 > span:first-child{
	padding-right: 0.6rem;
	margin-right: 0.6rem;
	border-right: 2px solid #99A1CC;
	font-size: 4.2rem;
}

.error-page h1 > span:last-child{
	font-size: 1.8rem;
}

.error-page a{
	width: 16rem;
}

.sliding-stats-container{
	overflow-x: auto;
}

.sliding-stats-container > .stats-card{
	flex-shrink: 0;
	margin-right: 2rem;
	width: 49%;
}

.sliding-stats-container > .stats-card:last-child{
	margin-right: 0;
}

#login-page{
	position: relative;
	min-height: 100vh;
}

#login-page h1{
	font-size: 4rem;
}

#login-page .grid{
	width: 30vw;
	position: relative;
}

#login-page .grid .btn.btn-primary{
	width: 100%;
}

#footer{
	font-size: 1.44rem;
	padding: 2.2rem;
	background-color: #1E273E;
}

#profile-card .card-body > p{
	position: relative;
}

#profile-card .card-body > p img{
	width: 20rem;
	margin-right: 2rem;	
}

#profile-card .card-body > p .btn.btn-primary{
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (max-width: 1100px){		
	#login-page .grid{
		width: 50vw;
	}
}

@media only screen and (max-width: 700px){		
	#login-page .grid{
		width: 90vw;
	}
	#profile-card .card-body > p img{
		margin: 6rem auto 2rem;
		width: 18rem;
	}		
	#profile-card .card-body > p{
		display: flex;
		flex-direction: column;
	}	
}
